/* admin page */
.main-container{
    height: 100vh;
    width: 100vw;
    background: rgb(228, 227, 227);
    display: flex;
    justify-content: center;
}

.main-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-form{
    top: 50%;
    /* height: 18rem; */
    width: 20rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px grey;
    align-items: center;
}

.btn-form{
    background-color: rgb(86, 124, 247);
    color: white;
    width: 100%;
}

#int{
    display: inline-block;
    width: 100%;
}

.label{
    margin: 0.5rem auto 0.5rem 0;
    font-size: 1.2rem;
}

.sign-up{
    text-align: center;
    margin-top: 3rem;
}

.icon-container{
    text-align: center;
    justify-content: center;
    font-family: 'Water Brush', cursive;
}

.log-in{
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
}

/* sign-up page */
.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-container {
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px gray;
    background-color: white;
    /* height: 30rem; */
    width: 21rem;
}

.fname-int,
.lname-int,
.username-int,
.email-int,
.passwd-int,
.cfm-passwd-int,
.rk-email-int,
.cfm-email-int{
    width: 100%;
}

.fname-lab,
.lname-lab,
.username-lab,
.email-lab,
.passwd-lab,
.cfm-passwd-lab,
.key-lab,
.rk-email-lab,
.cfm-email-lab {
    font-size: 1.2rem;
}

.icon-logo {
    text-align: center;
    justify-content: center;
    font-family: 'Water Brush', cursive;
}

/* question mark pop up */
.show{
    box-shadow: 2px 2px grey;
}

/* request-key */
.req-container-row{
    border: 1px black;
}

.cfm-email-row #rk-msg{
    margin-inline: auto;
}

.error-box, .error-box a{
    border: 1px black;
    /* border-radius: 10px; */
    /* background-color: rgba(245, 91, 91, 0.37); */
    color: red;
}

.key-req-flash{
    border: 2px black;
    border-radius: 10px;
}

.key-req-flash h3{
    color: rgb(5, 221, 5);
}

.key-req-flash{
    text-align: center;
}

.fade, .show {
    opacity: 1;
}

.form-group label{
    font-size: 1.2rem;
}