{% extends 'base.html'%}

{% block head%}
<title>Sign In Page 1</title>
<link rel="stylesheet" href="{{url_for('static', filename='CSS/admin.css')}}">
{% endblock %}

{% block body %}
<main class="main-container">
    <div class="wrapper">
        <div class="icon-logo">
            <h2>HS</h2>
        </div>
        <form action="/sign-up" class="form-container container-fluid" name="form-sign-up" method="POST">
            <div class="icon-logo2 col-sm-12 mt-2 mb-2 p-0" style="text-align: center; font-size: 1.5rem">
                <label>Sign Up</label>
            </div>
            <hr class="m-0">

            <div class="fname-lname row mt-2 mb-2">
                <div class="fname col-sm-6 p-2">
                    <label class="fname-lab">First Name</label>
                    <input type="text" name="fname" class="fname-int" placeholder="First Name" required>
                </div>

                <div class="lname col-sm-6 p-2">
                    <label class="lname-lab">Last Name</label>
                    <input type="text" name="lname" class="lname-int" placeholder="Last Name" required>
                </div>
            </div>

            <div class="username-row row">
                <div class="username col-sm-8 pl-2">
                    <label class="username-lab">Username</label>
                    <input type="text" name="username" class="username-int" placeholder="Username" required size="30">
                </div>
            </div>

            <div class="email-row row">
                <div class="email col-sm-10 p-2 mt-2">
                    <label class="email-lab col-sm-10 p-0">Email</label>
                    <input type="text" name="email" class="email-int" placeholder="Email" required size="40">
                </div>
            </div>

            <div class="passwd-row row">
                <div class="passwd col-sm-6 p-2">
                    <label class="passwd-lab">Password</label>
                    <input type="password" name="passwd" class="passwd-int" placeholder="Password" required>
                </div>

                <div class="cfm-passwd col-sm-6 p-2">
                    <label class="cfm-passwd-lab">Confirm Password</label>
                    <input type="password" name="cfmpasswd" class="cfm-passwd-int" placeholder="Confirm Password" required>
                    <span id="msg"></span>
                </div>
            </div>

            <div class="submit-bnt-row row">
                <div class="submit-btn col-sm-12 p-2 mt-2" style="text-align: center;">
                    <button type="submit" id="sign-up-btn" style="background-color:rgb(86, 124, 247); color:white; width: 8rem;">Submit</button>
                </div>
            </div>

        </div>
    </form>
</main>

{% endblock %}